.cardSlider{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width:1000px;
height: 400px;
overflow: hidden;
margin-top:50px;
}

.cardContainer{
    width:100%;
    height:350px;
    overflow: hidden;
    background: #ff0;
}

.cardNavbar{
position: relative;
width:100%;
height:50px;
background: #f00;


ul{
    margin:0;
    padding:0;
    background: #fff;
    display: flex;
    height: 100%;

    li{
        list-style: none;
        width:25%;
        text-align: center;
        line-height: 50px;
        border-right: 1px solid #262626;
        text-transform: uppercase;


        &:last-child{
            border-right: none;
        }
    }
}
}
.cardContainer .cardSingle{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    padding: 50px;
    background: url('../../img/photography-of-mountains-under-cloudy-sky-1183099.jpg');
    background-position: center !important;
}
article{
    background: rgba(255,255,255,.8);
    padding: 20px;

}
.cardContainer .cardSingle:nth-child(1){
    background: url('../../img/beautiful-clouds-cloudy-dramatic-209831\ \(1\).jpg');
}
.cardContainer .cardSingle:nth-child(2){
    background: url('../../img/clouds-1431822.jpg');
}
.cardContainer .cardSingle:nth-child(3){
    background: url('../../img/rain-drops-459451\ \(1\).jpg');
}
.cardContainer .cardSingle:nth-child(4){
    background: url('../../img/snowy-pathway-surrounded-by-bare-tree-839462\ \(1\).jpg');
}
.cardContainer .cardSingle:nth-child(5){
    background: url('../../img/road-nature-trees-branches-38537.jpg');
}
.cardContainer .cardSingle:nth-child(6){
    background: url('../../img/lights-night-weather-storm-66867.jpg');
}
.cardContainer .cardSingle:nth-child(7){
    background: url('../../img/airport-bolt-bright-danger-355989.jpg');
}
.active{
    z-index: 1;
}
.cardNavbar ul li:hover{
    background: #3484ff;
    color:#fff;
}